/* Colors */
$black: #111111;
$dark: #2d2b29;
$white: #fff;
$light-grey: #eee;
$grey: #999;

$blue: #4b578c;
$light-blue: #4a5daf;
$dark-blue: #292d47;

/* Fonts */
$base-font-size: 1.4rem;
$baseline: 2.2rem;

$regular-font: 'Lora', serif;
$custom-font: 'Armata', sans-serif;

/* Media queries width sizes */
$very-small: 340px;
$small: 480px;
$medium: 600px;
$large: 980px;
$very-large: 1200px;
$super-very-large: 1400px;